/* Add a background color to the header element */
header {
    background-color:#EE981F;
    color:white;
    text-align:center;
    padding: 10px;
}
/* Add a fun background color to the main element */
main {
    background-color: #212121;
    padding: 10px;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    align-content: center;
    font-size: 40px;
}
/* Make your p tag a different color and italic */
p {
    color: #212121;
    font-style:italic;

}
/* Put a border around your image */
img {
    width: 180px;
    height: 320px;
    border: 5px solid #FFFFFF;
    display: block;
    box-shadow: 0 0 20px 0 #EE981f99;
}
/* Change the font-family of your list */
ul {
    font-family: fantasy;
}
/* Add a background color to the footer element */
footer {
    background-color:#EE981F ;
    font-size: large;
    padding: 10px;
}

body {
    margin: 3%;
    background-color: #212121;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

#container {
    background-color: #212121;
}